<div class='intro'>
Welcome to TravelSage – A guide that allows adventurous people to draw the curtain to the most 

exciting cities in the world.  As insanely-passionate travelers, we're here to help you customize your 

authentic experience.

Have an authentic experience to share?  Click here to upload your tale as one of our Travelers.
</div>

<div class='filterDiv'>To start, choose a feature article below – or – click <%=link_to "here", "#", class: "filterButton"%> to filter based upon your preferences:</div>
<%= render 'filter' %>
<div class='articlesDiv'>
  <% @categories.each do |category|%>
    <h3><%= category.name %></h2>
      <%category.articles.each do |article|  %>
        <div class='singleArticle'>
          <div class='articleText'>
            <span class='articleTitle'><%= article.title %></span>
            <span class='articleAuthor'><%= article.user.username %></span>
          </div>
          <span class='articleTags'>
            <% article.categories.each do |tag| %>
              <%= tag.name %>|
            <% end %>
          </span>
        </div>
      <% end %>
  <% end %>
</div>
