<!DOCTYPE html>
<html>
<head>
  <title>TravelSage</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <div class='upperMostHeader'><%=link_to "CitySage", "/citysage", class: "upperMostLink"%><%=link_to "About Us","/about", class: "upperMostLink"%><%=link_to "Meet the Sages","/meetsages", class: "upperMostLink"%> </div>
    <div class='titleBar'>
      <%=link_to '/' do %>
        <span class='title'><span class='titleTravel'>Travel</span><span class='titleSage'>Sage</span></span>
      <%end%>
    </div>
    <div class='tagline'><span>Interesting cities. Interesting people. Interesting stories.</span></div>
  </nav>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
