<!DOCTYPE html>
<html>
<head>
  <title>TravelSage</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <div class='upperMostHeader'><%=link_to "CitySage", "/", class: "upperMostLink"%><%=link_to "About Us","/", class: "upperMostLink"%><%=link_to "Meet the Sages","/", class: "upperMostLink"%> </div>
    <div class='titleBar'><span class='title'>TRAVEL SAGE</span></div>
    <div class='tagline'><span>Interesting cities. Interesting people. Interesting stories.</span></div>
  </nav>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
